/* GLOBAL CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #e9e9e9;
  --secondary-color: #f7f7f7;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

.page-wrapper {
  padding: 40px 0 0;
  height: 100%;
}

.bg-main-pallette {
  background: 
    radial-gradient(circle at 20% 85%,
      rgba(0, 255, 140, 0.45) 0%,
      rgba(0, 255, 140, 0.18) 18%,
      transparent 40%),

    radial-gradient(circle at 55% 100%,
      rgba(157, 255, 0, 0.45) 0%,
      rgba(157, 255, 0, 0.15) 20%,
      transparent 42%),

    radial-gradient(circle at 88% 42%,
      rgba(0, 255, 255, 0.18) 0%,
      transparent 28%),

    radial-gradient(circle at 45% 30%,
      rgba(80, 120, 255, 0.08) 0%,
      transparent 35%),
    #000000;;
}

.bg-yellow-primary {
  background-color: #fcca08;
}

.custom-rounded {
  border-radius: 30px;
}

.custom-rounded-top {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.custom-rounded-x {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.h4-extra-bold {
  font-weight: 900; 
  letter-spacing: -0.5px;
}

.display-4-custom {
  font-size: calc(-0.525rem + 13.7vw);
}

.btn-rounded {
  border-radius: 50px;
}

.btn-dark {
  background-color: #000 !important;
}

.btn-bg-primary {
  background-color: #D9FF43 !important;
}

.text-custom-primary {
  color: #D9FF43 !important;
}

.modal-backdrop-blur {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 999;
}

.bg-success-badge {
  background: rgba(34, 197, 94, 0.12);
  color: green;
}

.badge {
  line-height: unset !important;
  border-radius: 100px;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.page-404 {
  position: absolute;
  top: 0;
  overflow-x: hidden;
}

.page-not-found img {
  height: 400px;
}

.page-404 button, .page-404 a {
  border-radius: 30px;  
}

.form-control, .form-select {
  border: 0 !important;
  border-radius: 0;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

button {
  border-radius: 30px !important;
}

.card {
  border: 0;
}

nav {
  padding: 2rem 0;
}